.section {
    margin:100px auto;
    padding: 1rem;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 12px;
    text-align: left;
    color: black;
    font-family: Arial, sans-serif;
    width: 400px;
}

